/.DS_Store
/ThinkLocal.xcodeproj/project.xcworkspace/xcuserdata/Victorb.xcuserdatad/
/ThinkLocal.xcodeproj/xcuserdata/Victorb.xcuserdatad/
/ThinkLocalFirst.xcodeproj/
/ThinkLocalFirst/.DS_Store
*.xcuserstate

ThinkLocal.xcodeproj/project.xcworkspace/xcuserdata/chris.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.pbxproj
